<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>District 6 Football Club</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

</head>
<body>
<header style="position:fixed; top:0; width:100%; z-index:1000">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="./logo.jpg" alt="logo" width="8%">
        <!-- <a class="navbar-brand" href="#">Discrict 6 Football Club</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./home.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./aboutUS.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./committeeMembers.html">Our Club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./news.html">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./ContactUs.html">Contact</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<div>
    Hello <span th:text="${name}"></span> thank you fo your message,
    we will be emailing you on <span th:text="${email}"></span> to answer your query.
</div>
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="privacyPolicy+contact">
                        <a href="./privacyPolicy.png" style="padding:5px">Privacy Policy</a>
                        <a href="./ContactUs.html" style="padding:5px">Contact</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <p style="text-align:center">District 6 Football Club &copy</p>
                </div>
                <div class="col-md-4">
                    <div class="social media+logo">
                        <a href="https://www.facebook.com/">
                            <img src="./facebook.jfif" alt="facebook logo" style="width:10%">
                        </a>
                        <a href="https://www.instagram.com/?hl=en">
                            <img src="./insta.jfif" alt="instagram logo" style="width:10%">
                        </a>
                        <a href="logo.jpg">
                            <img src=".\logo.jpg" alt="logo" style="width:10%">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
